In [11]:
#Modify the first item (22) of a list inside a following tuple to
222
tuple1 = (11, [22, 33], 44, 55)
lst = list(tuple1)
lst[1] = [222,33]
tuple1 = tuple(lst)
print("tuple1=",tuple1)

tuple1= (11, [222, 33], 44, 55)

In [9]:
#Count the number of occurrences of item 50 from a tuple
def occitem(tuple1,a):
  count=0
  for i in tuple1:
    if i==a:
      count=count+1
  return count

tuple1 = (50, 10, 60, 70, 50)
a=50
print("Number of occurrences = ",occitem(tuple1,a))

Number of occurrences =  2

In [12]:
# Write a Python program to convert a list to a tuple
def convertion(lst):
  tpl=tuple(lst) 
  return tpl

lst=[]
n=int(input("Enter the number of elements: "))
for i in range(0,n):
  element=input()
  lst.append(element)
res=convertion(lst)
print("Resultant Tuple after conversion",res)

Enter the number of elements: 4
1
2
3
4
Resultant Tuple after conversion ('1', '2', '3', '4')

In [17]:
#Returns  a new set with all items from both sets by removing duplicates


def operation(seta,setb):
  setc=seta.union(setb) 
  return setc


seta={'a','b','1',2,4,6}
setb={1,2,3,4,5,6,'a','b'}
res=operation(seta,setb)
print(res)

{'b', 2, 1, 4, 3, 'a', 6, 5, '1'}

In [19]:
#Merge following two Python dictionaries into one


def merge(dict1,dict2):
  dict3=dict1.copy()
  dict3.update(dict2) 
  return dict3

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
res=merge(dict1,dict2)
print(res)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [21]:
#Given a Python dictionary, Change Bradâ€™s salary to 8500


sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500 
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [22]:
#Rename key city to location in the following dictionary

sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict["location"]=sampleDict.pop("city") 
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}